/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 20px 110px 0px 113px;
	background-size:100% 100%; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; ,0,0,.2); zoom: 1;}
.flex-viewport {max-height:1500px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
/* Direction Nav */
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute;bottom: -110px;left: 193px;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 18px; height: 18px; display: block; border: 2px solid #dedfe0; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { border: 2px solid #1fa9dd; }
.flex-control-paging li a.flex-active { border: 2px solid #1fa9dd; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 1280px) {
	.flexslider {
		margin: 19px 107px -10px 108px;
	}
	.flex-control-nav {
		bottom: -102px;
		left: 189px;
	}
}
@media screen and (max-width: 1024px) {
	.flexslider {
		margin: 17px 88px 0px 96px;
	}
	.flex-control-paging li a {
		width: 16px;
		height: 16px;
	}
	.flex-control-nav {
		bottom: -104px;
		left: 146px;
	}
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
@media screen and (max-width: 800px) {
  .flexslider {
		margin: 14px 73px -42px 73px;
	min-height: 288px;
	}
	.flex-control-nav {
		bottom: 0;
		left: 120px;
	}
}
@media screen and (max-width: 640px) {
	.flexslider {
		min-height: 265px;
	}
	.flex-control-paging li a {
		width: 12px;
		height: 12px;
	}
	.flexslider {
		margin: 10px 60px -100px 60px;
	}
	.flex-control-nav {
		bottom: 18px;
		left: 97px;
	}
}
@media screen and (max-width: 480px) {
	.flex-control-nav {
		bottom: 72px;
		left: 65px;
	}
	.flexslider {
		margin: 9px 44px -110px 43px;
	}
}
@media screen and (max-width: 320px) {
.flexslider .slides img {
		width: 98%;
	}
	.flex-control-paging li a {
		width: 9px;
		height: 9px;
	}
	.flexslider {
		min-height: 180px;
	}
	.flexslider {
		margin: 8px 34px -92px 35px;
	}
	.flex-control-nav {
		bottom: 9px;
		left: 57px;
	}
}