<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>旅拍 &#8211; 让专业影像贴近每一个人</title>

    <link rel="shortcut icon" href="http://7xj867.com2.z0.glb.qiniucdn.com/lpai_logo.png" type="image/x-icon" sizes="64x64">
    <link rel="stylesheet" href="http://7xil52.com2.z0.glb.qiniucdn.com/share-learned.css">
</head>

<body>

<div class="container" data-cache="">

    <!-- album header -->
    <div class="title">
        <h1>{{ album.caption }}</h1>
        <br/>

        <p style="text-align: center;">
            {% for tag in album.tags %}
            #{{tag}}#
            {% end %}
        </p>

        <p>
            ￥{{album.price}} @ {{ album.author.user_alias }}
        </p>
    </div>

    <!-- album content -->
    <div class="content" align="center">
        {% if album.descrption %}
        <p>
            {{ album.descrption }}
        </p>
        {% end %}

        <img src="{{album.cover_url}}"/>
        {% for album_item in album_items %}
        <img src="{{album_item.image_url}}"/>
        {% end %}
    </div>


</div>

<div class="share-user-card">
    <img class="avatar" src="{{ album.author.avatar_url }}" alt="头像">
    <br>
    <span class="name">{{ album.author.user_alias }}</span>
    {% if album.author.gender == 1 %}
        <span class="gender female"></span>
    {% elif album.author.gender == 2 %}
        <span class="gender male "></span>
    {% end %}
    <br>

    <p>
        {{ album.author.residence }}
    </p>
    <hr/>
    <div id="extra">
        <h4>搜罗独立摄影师万千风格</h4>
        <h5>好风光美情怀，随你所需</h5>

    </div>

</div>

<div class="share-download-bar">
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.lvpai.pai">
        <img src="http://7xil52.com2.z0.glb.qiniucdn.com/lvpai-download.png"/>
    </a>
</div>

</body>
</html>
