<!DOCTYPE html>
<html>
<head>
<title>开房记录查询</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pie Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<!-- Owl Stylesheets -->
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
 <script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
<!--Animation-->
<script src="js/wow.min.js"></script>
<link href="css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
</head>
<body>
	<!-- header-section-starts -->
	<div class="header" id="home">
		<div class="container">
			<div class="logo wow fadeInRight" data-wow-delay="0.4s">
				<a href="#"><img src="images/logo.png" alt="" /></a>
			</div>
			<span class="menu"></span>
			<div class="top-menu wow fadeInLeft" data-wow-delay="0.4s">
				<ul>
					<li><a class="active scroll hvr-shutter-out-horizontal" href="#home">Home</a></li>
				</ul>
			</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->

			<div class="clearfix"></div>
		</div>
	</div>
	<div class="banner wow fadeInUp" data-wow-delay="0.4s">
		<div class="container">
			<div class="banner-info text-center">
				<h2 class="wow bounceInLeft" data-wow-delay="0.4s">开房记录查询</h2>
				<p class="wow bounceInLeft" data-wow-delay="0.4s">{{ result }}</p>
				<div class="details wow fadeInLeft" data-wow-delay="0.4s">
					<form method="post" action="">
						<li>
							<input type="text" class="text" name="name" value="" placeholder="姓名">
						</li>
						<li>
							<input type="text" class="text" name="idcard" value="" placeholder="身份证">
						</li>
						<li>
							<input type="text" class="text" name="phone" value="" placeholder="手机号码">
						</li>
							<input type="submit" value="查找">
					</form>
				</div>
			</div>
			<div class="header-bottom">
		<div class="right-grid-1">
					<section class="slider">
							<div class="flexslider">
							  <ul class="slides">
							  </ul>
							</div>
						  </section>
						  <!-- FlexSlider -->
						  <script defer src="js/jquery.flexslider.js"></script>
						  <script type="text/javascript">
							$(function(){
							});
							$(window).load(function(){
							  $('.flexslider').flexslider({
								animation: "slide",
								start: function(slider){
								  $('body').removeClass('loading');
								}
							  });
							});
						  </script>
                    </div>	
				</div>					
		</div>
		</div>
		<div class="content">

            <div class="copyrights"></div>

		</div>
		<div class="footer">
			<div class="container">
				<div class="copyright text-center wow bounceInLeft" data-wow-delay="0.4s">
					<p>Copyright &copy; 2015.Company name All rights reserved.</p>
				</div>
			</div>
		</div>
		<script type="text/javascript">
						$(document).ready(function() {
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
</body>
</html>